<div class="job-new">

  <div class="job-new__header">
    <div class="job-new__title">
      New posting
    </div>
  </div>

  <% #TODO original tag category, highlight, all jobs by $company %>

  <%= form_tag({ controller: "jobs", action: "create", method: "post" }, multipart: true) do %>

    <div class="form-row">
      <%= render partial: 'forms/text_field_form_group', 
        locals: { 
          name: :job_name, 
          obj: @job_form, 
          label: "Job title",
          placeholder: "ie. Senior Software Developer",
          small: "This is the title that will appear in the list of postings",
          col: "col-md-6"
        } 
      %>

      <%= render partial: 'forms/select_form_group',
        locals: {
          name: :job_tag,
          obj: @job_form,
          options: required_tags_for_select,
          label: "Job category",
          small: "Select the category this job will appear in",
          col: "col-md-6"
        }
      %>
    </div>


    <%= render partial: 'forms/text_area_form_group', 
      locals: { 
        name: :job_description, 
        obj: @job_form, 
        label: "Job description",
        rows: "10",
        small: "Use Markdown to format your description."
      } 
    %>

    <div class="form-row">
      <%= render partial: 'forms/text_field_form_group', 
        locals: { 
          name: :company_name, 
          obj: @job_form, 
          label: "Company name",
          col: "col-md-6"
        } 
      %>

      <%= render partial: 'forms/file_field_form_group', 
        locals: { 
          name: :company_photo, 
          obj: @job_form, 
          label: "Logo",
          small: "This will appear beside your job post.",
          col: "col-md-6"
        } 
      %>
    </div>

    <div class="form-row">
      <%= render partial: 'forms/text_field_form_group', 
        locals: { 
          name: :company_email, 
          obj: @job_form, 
          label: "Company email",
          small: "This will be required to later edit your job posting.",
          col: "col-md-6" 
        } 
      %>

      <%= render partial: 'forms/text_field_form_group', 
        locals: { 
          name: :company_url, 
          obj: @job_form, 
          label: "Company homepage",
          col: "col-md-6"
        } 
      %>
    </div>


    <%= render partial: 'forms/text_field_form_group', 
      locals: { 
        name: :job_url, 
        obj: @job_form, 
        label: "Job application URL",
        small: "Where should someone go to apply?"
      } 
    %>

    <%= render partial: 'forms/check_box_form_group', 
      locals: { 
        name: :highlight, 
        obj: @job_form, 
        label: "Highlight",
        small: "Jobs that are highlighted are more visible"
      } 
    %>

    <%= render partial: 'forms/text_field_form_group', 
      locals: { 
        name: :tags, 
        obj: @job_form, 
        label: "Tags",
        placeholder: "rails, css, javascript...",
        small: "Enter a comma separated list of tags. These will be indexed for searches."
      } 
    %>

    <%= submit_tag "Create", class: "btn job-new__submit" %>
  <% end %>

</div>