<div class="job-new">

  <div class="job-new__header">
    <div class="job-new__title">
      New posting
    </div>
  </div>

  <% #TODO original tag category, highlight, all jobs by $company %>

  <%= form_tag({ controller: "jobs", action: "create", method: "post" }, multipart: true) do %>

    <%= render partial: 'forms/text_field_form_group', 
      locals: { 
        name: :job_name, 
        obj: @create_job, 
        label: "Job title",
        placeholder: "ie. Senior Software Developer"
      } 
    %>

    <%= render partial: 'forms/text_area_form_group', 
      locals: { 
        name: :job_description, 
        obj: @create_job, 
        label: "Job description",
        rows: "10",
        small: "Use Markdown to format your description."
      } 
    %>

    <%= render partial: 'forms/select_form_group',
      locals: {
        name: :job_tag,
        obj: @create_job,
        options: required_tags_for_select,
        label: "Job category",
        small: "Select the category this job will appear in"
      }
    %>

    <%= render partial: 'forms/text_field_form_group', 
      locals: { 
        name: :company_name, 
        obj: @create_job, 
        label: "Company name"
      } 
    %>

    <%= render partial: 'forms/text_field_form_group', 
      locals: { 
        name: :company_email, 
        obj: @create_job, 
        label: "Company email",
        small: "This will be required to later edit your job posting." 
      } 
    %>

    <%= render partial: 'forms/text_field_form_group', 
      locals: { 
        name: :company_url, 
        obj: @create_job, 
        label: "Company homepage"
      } 
    %>
    
    <%= render partial: 'forms/file_field_form_group', 
      locals: { 
        name: :company_photo, 
        obj: @create_job, 
        label: "Company photo",
        small: "This will appear beside your job post."
      } 
    %>

    <%= render partial: 'forms/text_field_form_group', 
      locals: { 
        name: :job_url, 
        obj: @create_job, 
        label: "Job application URL",
        small: "Where should someone go to apply?"
      } 
    %>

    <%= render partial: 'forms/text_field_form_group', 
      locals: { 
        name: :tags, 
        obj: @create_job, 
        label: "Tags",
        placeholder: "rails, css, javascript...",
        small: "Enter a comma separated list of tags. These will be indexed for searches."
      } 
    %>

    <%= submit_tag "Create", class: "btn job-new__submit" %>
  <% end %>

</div>