<div class="job-show">

  <div class="job-show__header">
    <div class="job-show__title">
      <%= @job.name %>
    </div>
    <div class="job-show__company-title">
      <%= @job.company.name %>
    </div>
    <%= link_to @job.company.url, @job.company.url, class: "job-show__company-url" %>
  </div>

  <div class="job-show__description">
    <%= raw render_markdown(@job.description) %>
  </div>

  <%= link_to "Apply", @job.url, class: "btn job-show__submit" %>

</div>